{% extends "base.html" %}
{% block body %}
    <div class="row">
        <div class="col-lg-10">
            <h2 style="margin-top: 0">{{perfil.nome}}</h2>
            <address>
                <p title="Empresa">Empresa: <strong>{{perfil.nome_empresa}}</strong></p>
                <p title="Telefone">Telefone: <strong>{{perfil.telefone}}</strong></p>
                <a href="mailto:{{perfil.email}}">{{perfil.email}}</a>               
            </address>
            {% if eh_contato %}
                <div class="well well-sm">
                    Vocês estão conectados!
                </div>
            {% else %}
                <a href="{% url 'convidar' perfil.id %}"class="btn btn-success" role="button">
                    Convidar
                </a>
            {% endif %} 

        
        <div class="panel heading">
            <h3><strong>Postagens</strong></h3>
            <div class="panel panel-group">
                
                {% if postagens %}  
                    {% for post in postagens %}
                       {% if post.perfil == perfil%}
                            <div class="container">
                                <p>Publicado por: 
                                    <a href="{% url 'exibir' post.perfil.id %}">{{post.perfil.nome}}</a>
                                </p>
                                <div class="well well-default">
                                    <div class="content"><h4>{{post.texto}}</h4></div>
                                </div>
                            </div>           
                        {% endif %}
                    {% endfor %}
        
                {% endif %}
            </div>
        </div>
        
        </div>
    </div>
{% endblock %}